# Sources compilées #
#####################

*.dll
*.exe
*.so
*.o
YATD
src/src

# fichiers OS #
###############

Desktop.ini
Thumbs.db

# VIM #
#######

*.swp

# Makefiles #
#############

moc_*
Makefile
*.pro
